<div class="title">
  
</div>
<div class="slide_body">
  
</div>
<div id="nav_buttons">
  <form>
    <input type="button" value="Previous" id="previous_button">
    <input type="button" value="Next" id="next_button">
  </form>
</div>