<div class="title">
  <h2>Title of the slide here.</h2>
</div>
<div class="slide_body">
  <p>Slide body text will go here.</p>
</div>
<div id="nav_buttons">
  <form>
    <input type="button" value="Previous" id="previous_button">
    <input type="button" value="Next" id="next_button">
  </form>
</div>