

<div id="title_div">
  <h2 id="title"></h2>
</div>
<div id="slide_body">
  <p id="slide_text"></p>
</div>

<button type="button" id="prev_button" class="buttons" value="Previous">
  < Previous
</button>
<button type="button" id="next_button" class="buttons" value="Next">
  Next >
</button>

<div id="current_slide_div">
  <p id="current_slide"></p>
</div>

<a id="start" href="http://localhost:4567/start">Click here to see the first slide.</a>
