

<div id="title_div">
  <h2 id="title"></h2>
</div>
<div id="slide_body">
  <p id="slide_text"></p>
</div>

<form id="buttons" action="http://localhost:4567/prev" method="post">
  <input type="submit" value="Previous" id="prev_button">
  <input type="hidden" name="slide_order_field" id="slide_order_field" value="">
</form>

<form id="buttons" action="http://localhost:4567/next" method="post">
  <input type="submit" value="Next" id="next_button">
  <input type="hidden" name="slide_order_field" id="slide_order_field" value="">
</form>

<div id="current_slide_div">
  <p id="current_slide"></p>
</div>

<a id="start" href="http://localhost:4567/start">Click here to start the slideshow</a>
