

<div id="title_div">
  <h2 id="title">Title of the slide here.</h2>
</div>
<div id="slide_body">
  <p id="slide_text">Slide body text will go here.</p>
</div>
  <form>
    <input type="button" value="Previous" id="previous_button">
    <input type="button" value="Next" id="next_button">
    <input type="hidden" name="slide_id" value="">
  </form>
  
  <div id="current_slide_div">
    <p id="current_slide"></p>
  </div>
  
  <a id="test" href="http://localhost:4567/test">Click here to test JS</a>