#title_div {
  background-color: black;
  position: relative;
  
}

#title {
  color: red;
  font-size: 24px;
  display: inline-block;
}

#slide_body {
  display: inline-block;
  height: 400px;
  border: 2px solid black;
  background-color: white;
  width: 400px;
}

#previous_button {
  float: left;
}

#next_button {
  float: right
}

body {
  text-align: center;
  background-color: #CCCCCC;
}